<p-button (click)="showCreate()" icon="pi pi-external-link" label="Добавить организацию"></p-button>
<p-button (click)="showCreate()" icon="pi pi-external-link" label="Добавить работника"></p-button>
<p-button (click)="deleteAction()">Удалить</p-button>
<p-dialog header="Добавление организации" [(visible)]="visibleCreate" [modal]="true" [draggable]="true" [resizable]="false">
    <form name="form" [formGroup]="form" (submit)="onSubmit()" #f="ngForm">
      <div class="p-grid">

        <span class="p-float-label organization-input-form">
          <input id="name" type="text" pInputText required />
          <label for="name">Название организации</label>
        </span>

        <p>Координаты</p>
        <span class="p-float-label organization-input-form">
          <input id="coordinate_x" type="number" pInputText required />
          <label for="coordinate_x">X координаты</label>
        </span>

        <span class="p-float-label organization-input-form">
          <input id="coordinate_y" type="number" pInputText required />
          <label for="coordinate_y">Y координаты</label>
        </span>

        <p>Юридическая информация</p>
        <span class="p-float-label organization-input-form">
          <input id="annualTurnover" type="number" pInputText required />
          <label for="annualTurnover">Годовой оборот</label>
        </span>

        <div class="organization-input-form">
          <p-dropdown [options]="organizationType" [(ngModel)]="selectedType" [showClear]="true" placeholder="Тип организации"></p-dropdown>
        </div>

        <span class="p-float-label organization-input-form">
          <input id="officialAddress" type="text" pInputText required />
          <label for="officialAddress">Адрес</label>
        </span>


      </div>

      <br>
      <button pButton type="button" label="Отправить"></button>
    </form>
</p-dialog>

<div>
  <p-table *ngIf="organizations" [value]="organizations" [(selection)]="selectedOrganization">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Имя</th>
        <th>Координаты (X, Y)</th>
        <th>Дата создания</th>
        <th>Годовой оборот</th>
        <th>Тип</th>
        <th>Адрес</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organization>
      <tr>
        <td>
          <p-tableCheckbox [value]="organization" name="organization"></p-tableCheckbox>
        </td>
        <td>{{ organization.id }}</td>
        <td>{{ organization.name }}</td>
        <td>{{ organization.coordinateX }}, {{ organization.coordinateY }}</td>
        <td>{{ organization.creationDate }}</td>
        <td>{{ organization.annualTurnover }}</td>
        <td>{{ OrganizationType[organization.type] }}</td>
        <td>{{ organization.officialAddress }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
