<p-toast></p-toast>
<div class="header">
  <p-button (click)="showCreate()" icon="pi pi-external-link" label="Добавить организацию"></p-button>
  <!--<p-button (click)="deleteAction()">Удалить</p-button>-->
  <div class = header-buttons>
    <div class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Global Search" />
    </div>
    <p-button (click)="findSubstring()">Поиск</p-button>
    <p-button (click)="countLowerAnnualTurnover()">Меньший оборот</p-button>
    <p-button (click)="uniqueLowerAnnualTurnover()">Уникальный оборот</p-button>
  </div>
</div>
<p-dialog header="Добавление организации" [(visible)]="visibleCreate" [modal]="true" [draggable]="true" [resizable]="false">
  <form name="form" [formGroup]="form" (submit)="onSubmit()" #f="ngForm">

    <div class="p-grid">

        <span class="p-float-label organization-input-form">
          <input id="name" type="text" formControlName="name" pInputText required />
          <label for="name">Название организации</label>
        </span>

      <p>Координаты</p>
      <span class="p-float-label organization-input-form">
          <input id="coordinate_x" type="number" formControlName="coordinateX" pInputText required />
          <label for="coordinate_x">X координаты</label>
        </span>

      <span class="p-float-label organization-input-form">
          <input id="coordinate_y" type="number" formControlName="coordinateY" pInputText required />
          <label for="coordinate_y">Y координаты</label>
        </span>

      <p>Юридическая информация</p>
      <span class="p-float-label organization-input-form">
          <input id="annualTurnover" type="number" formControlName="annualTurnover" pInputText required />
          <label for="annualTurnover">Годовой оборот</label>
        </span>

      <div class="organization-input-form">
        <p-dropdown [options]="organizationType" [(ngModel)]="selectedType" [showClear]="true" placeholder="Тип организации"></p-dropdown>
      </div>

      <span class="p-float-label organization-input-form">
          <input id="officialAddress" type="text" formControlName="officialAddress" pInputText required />
          <label for="officialAddress">Адрес</label>
        </span>
    </div>

    <br>
    <button pButton type="submit" label="Добавить"></button>
  </form>
</p-dialog>

<p-dialog header="Редактирование организации" [(visible)]="visibleEdit" [modal]="true" [draggable]="true" [resizable]="false">
    <form name="form" [formGroup]="form" (submit)="onUpdate()" #f="ngForm">
      <div class="p-grid">

          <span class="p-float-label organization-input-form">
            <input id="name" type="text" pInputText required [(ngModel)]="editName" value={{editName}} formControlName="name"/>
            <label for="name">Название организации</label>
          </span>

        <p>Координаты</p>
        <span class="p-float-label organization-input-form">
          <input id="coordinate_x" type="number" pInputText required [(ngModel)]="editCoordinateX" value={{editCoordinateX}} formControlName="coordinateX"/>
          <label for="coordinate_x">X координаты</label>
        </span>

        <span class="p-float-label organization-input-form">
          <input id="coordinate_y" type="number" pInputText required [(ngModel)]="editCoordinateY" value={{editCoordinateY}} formControlName="coordinateY"/>
          <label for="coordinate_y">Y координаты</label>
        </span>

        <p>Юридическая информация</p>
        <span class="p-float-label organization-input-form">
          <input id="annualTurnover" type="number" pInputText required [(ngModel)]="editAnnualTurnover" value={{editAnnualTurnover}} formControlName="annualTurnover"/>
          <label for="annualTurnover">Годовой оборот</label>
        </span>

        <div class="organization-input-form">
          <p-dropdown [options]="organizationType" [(ngModel)]="editOrganizationType" [showClear]="true" placeholder="Тип организации"></p-dropdown>
        </div>

        <span class="p-float-label organization-input-form">
          <input id="officialAddress" type="text" pInputText required [(ngModel)]="editOfficialAddress" value={{editOfficialAddress}} formControlName="officialAddress"/>
          <label for="officialAddress">Адрес</label>
        </span>


      </div>

      <br>
      <div class="bottom-buttons">
        <button pButton type="submit" label="Обновить"></button>
        <p-button (click)="closeEdit($event)">Отмена</p-button>
        <p-button (click)="deleteAction()" styleClass="p-button-danger">Удалить</p-button>
      </div>
    </form>
</p-dialog>

<div>
  <p-table *ngIf="organizations" [value]="organizations" [rows]="rows" [(first)]="first" [paginator]="true" [lazy]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" (onLazyLoad)="loadLazyData($event)" [totalRecords]="totalRecords">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Имя</th>
        <th>Координаты (X, Y)</th>
        <th>Дата создания</th>
        <th>Годовой оборот</th>
        <th>Тип</th>
        <th>Адрес</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organization>
      <tr>
        <td>
          <p-button (click)="showEdit(organization)" icon="pi pi-pencil" styleClass="p-button-success"></p-button>
        </td>
        <td>{{ organization.id }}</td>
        <td>{{ organization.name }}</td>
        <td>{{ organization.coordinateX }}, {{ organization.coordinateY }}</td>
        <td>{{ organization.creationDate }}</td>
        <td>{{ organization.annualTurnover }}</td>
        <td>{{ OrganizationType[organization.type] }}</td>
        <td>{{ organization.officialAddress }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
