<div class="header">
  <p-toast></p-toast>
  <p-button (click)="showCreate()" icon="pi pi-external-link" label="Добавить организацию"></p-button>
  <div class = header-buttons>
    <p-dropdown [options]="sortingType" [(ngModel)]="selectedSortingType" [showClear]="false" placeholder="Тип сортировки" (onChange)="getOrganizations()"></p-dropdown>
    <p-dropdown [options]="sortingField" [(ngModel)]="selectedSortingField" [showClear]="false" placeholder="Поле для сортировки" (onChange)="getOrganizations()"></p-dropdown>
    <div class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Поиск по имени" [(ngModel)]="searchTerm" (keyup.enter)="findSubstring()"/>
    </div>
    <p-button (click)="findSubstring()">Поиск</p-button>
    <p-button (click)="toggleCountLowerAnnualTurnover()">Меньший оборот</p-button>
    <p-button (click)="uniqueLowerAnnualTurnover()">Уникальный оборот</p-button>
  </div>
</div>

<p-dialog header="Меньший оборот" [(visible)]="visibleCountLowerAnnualTurnover" [modal]="true" [draggable]="true" [resizable]="false">
  <form name="annualForm" [formGroup]="form" (submit)="countLowerAnnualTurnover()" #f="ngForm">
    <div class="p-grid">

        <span class="p-float-label organization-input-form">
          <input id="annualTurnoverLower" type="number" formControlName="annualTurnoverLower" pInputText required />
          <label for="name">Оборот меньше чем</label>
        </span>

      <button class="organization-input-form" pButton type="submit" label="Рассчитать"></button>

      <span class="p-float-label organization-input-form">
          <input readonly id="countLowerAnnualTurnoverValue" type="number" [(ngModel)]="countLowerAnnualTurnoverValue" value={{countLowerAnnualTurnoverValue}} pInputText required />
          <label for="name">Результат</label>
      </span>

    </div>
  </form>
</p-dialog>

<p-dialog header="Поглощение организации" [(visible)]="visibleAcquise" [modal]="true" [draggable]="true" [resizable]="false">
  <form name="acquiseForm" [formGroup]="form" (submit)="onAcquise()" #f="ngForm">
    <div class="p-grid">

        <span class="p-float-label acquise-input-form">
          <input id="acquiseOrganizationId" type="number" formControlName="acquiseOrganizationId" pInputText required />
          <label for="acquiseOrganizationId">Организация для поглощения</label>
        </span>

      <button class="acquise-input-form" pButton type="submit" label="Поглотить"></button>
    </div>
  </form>
</p-dialog>

<p-dialog header="Добавление организации" [(visible)]="visibleCreate" [modal]="true" [draggable]="true" [resizable]="false">
  <form name="form" [formGroup]="form" (submit)="onCreate()" #f="ngForm">

    <div class="p-grid">

        <span class="p-float-label organization-input-form">
          <input id="name" type="text" formControlName="name" pInputText required />
          <label for="name">Название организации</label>
        </span>

      <p>Координаты</p>
      <span class="p-float-label organization-input-form">
          <input id="coordinate_x" type="number" formControlName="coordinateX" pInputText required />
          <label for="coordinate_x">X координаты</label>
        </span>

      <span class="p-float-label organization-input-form">
          <input id="coordinate_y" type="number" formControlName="coordinateY" pInputText required />
          <label for="coordinate_y">Y координаты</label>
        </span>

      <p>Юридическая информация</p>
      <span class="p-float-label organization-input-form">
          <input id="annualTurnover" type="number" formControlName="annualTurnover" pInputText required />
          <label for="annualTurnover">Годовой оборот</label>
        </span>

      <div class="organization-input-form">
        <p-dropdown [options]="organizationType" [(ngModel)]="selectedType" [showClear]="false" placeholder="Тип организации" (onChange)="onCreationTypeChange($event)" formControlName="type"></p-dropdown>
      </div>

      <span class="p-float-label organization-input-form">
          <input id="officialAddress" type="text" formControlName="officialAddress" pInputText required />
          <label for="officialAddress">Адрес</label>
        </span>
    </div>
    <br>
    <button pButton type="submit" label="Добавить"></button>
  </form>
</p-dialog>

<p-dialog header="Редактирование организации" [(visible)]="visibleEdit" [modal]="true" [draggable]="true" [resizable]="false">
    <form name="form" [formGroup]="form" (submit)="onUpdate()" #f="ngForm">
      <div class="p-grid">

        <span class="p-float-label organization-input-form">
          <input id="name" type="text" pInputText required [(ngModel)]="editName" value={{editName}} formControlName="name"/>
          <label for="name">Название организации</label>
        </span>

        <p>Координаты</p>
        <span class="p-float-label organization-input-form">
          <input id="coordinate_x" type="number" pInputText required [(ngModel)]="editCoordinateX" value={{editCoordinateX}} formControlName="coordinateX"/>
          <label for="coordinate_x">X координаты</label>
        </span>

        <span class="p-float-label organization-input-form">
          <input id="coordinate_y" type="number" pInputText required [(ngModel)]="editCoordinateY" value={{editCoordinateY}} formControlName="coordinateY"/>
          <label for="coordinate_y">Y координаты</label>
        </span>

        <p>Юридическая информация</p>
        <span class="p-float-label organization-input-form">
          <input id="annualTurnover" type="number" pInputText required [(ngModel)]="editAnnualTurnover" value={{editAnnualTurnover}} formControlName="annualTurnover"/>
          <label for="annualTurnover">Годовой оборот</label>
        </span>

        <div class="organization-input-form">
          <p-dropdown [options]="organizationType" [(ngModel)]="editOrganizationType" [showClear]="false" placeholder="Тип организации" formControlName="type"></p-dropdown>
        </div>

        <span class="p-float-label organization-input-form">
          <input id="officialAddress" type="text" pInputText required [(ngModel)]="editOfficialAddress" value={{editOfficialAddress}} formControlName="officialAddress"/>
          <label for="officialAddress">Адрес</label>
        </span>

      </div>

      <br>
      <div class="bottom-buttons">
        <button pButton type="submit" label="Обновить"></button>
        <p-button (click)="showHireEmployee()">Сотрудник</p-button>
        <p-button (click)="showAcquise()">Поглощение</p-button>
        <p-button (click)="deleteAction()" styleClass="p-button-danger">Удалить</p-button>
      </div>
    </form>

  <p-table *ngIf="employees" [value]="employees" [rows]="rowsEmployee" [(first)]="firstEmployee" [paginator]="true" [lazy]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loadingEmployee" (onLazyLoad)="loadLazyDataEmployee($event)" [totalRecords]="totalRecordsEmployee">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Email</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>
          <p-button (click)="showEditEmployee(employee)" icon="pi pi-pencil" styleClass="p-button-success"></p-button>
        </td>
        <td>{{ employee.id }}</td>
        <td>{{ employee.userName }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog header="Редактирование сотрудника" [(visible)]="visibleEditEmployee" [modal]="true" [draggable]="true" [resizable]="false">
  <form name="employeeForm" [formGroup]="employeeForm" (submit)="onUpdateEmployee()" #f="ngForm">
    <div class="p-grid">
      <span class="p-float-label employee-input-form">
          <input id="userName" type="text" formControlName="userName" pInputText required [(ngModel)]="editEmployeeUserName" value={{editEmployeeUserName}}  />
          <label for="userName">Имя пользователя</label>
      </span>

      <p>Личные данные</p>
      <span class="p-float-label employee-input-form">
          <input id="firstName" type="number" formControlName="firstName" pInputText required [(ngModel)]="editEmployeeFirstName" value={{editEmployeeFirstName}} />
          <label for="firstName">Имя</label>
      </span>

      <span class="p-float-label employee-input-form">
          <input id="lastName" type="number" formControlName="lastName" pInputText required [(ngModel)]="editEmployeeLastName" value={{editEmployeeLastName}}/>
          <label for="lastName">Фамилия</label>
      </span>

      <span class="p-float-label employee-input-form">
          <input id="email" type="text" formControlName="email" pInputText required [(ngModel)]="editEmployeeLastName" value={{editEmployeeLastName}}/>
          <label for="email">Email</label>
        </span>
    </div>

    <br>
    <div class="bottom-buttons">
      <button pButton type="submit" label="Обновить"></button>
      <p-button (click)="deleteEmployeeAction()" styleClass="p-button-danger">Удалить</p-button>
    </div>
  </form>
</p-dialog>

<p-dialog header="Добавление сотрудника в организацию" [(visible)]="visibleCreateEmployee" [modal]="true" [draggable]="true" [resizable]="false">
  <form name="employeeForm" [formGroup]="employeeForm" (submit)="onHire()" #f="ngForm">

    <div class="p-grid">
      <span class="p-float-label employee-input-form">
        <input id="userName" type="text" formControlName="userName" pInputText required />
        <label for="userName">Имя пользователя</label>
      </span>

      <p>Личные данные</p>
      <span class="p-float-label employee-input-form">
          <input id="firstName" type="text" formControlName="firstName" pInputText required />
          <label for="firstName">Имя</label>
      </span>

      <span class="p-float-label employee-input-form">
          <input id="lastName" type="text" formControlName="lastName" pInputText required />
          <label for="lastName">Фамилия</label>
      </span>

      <span class="p-float-label employee-input-form">
          <input id="email" type="text" formControlName="email" pInputText required />
          <label for="email">Email</label>
      </span>
    </div>
    <br>
    <button pButton type="submit" label="Добавить"></button>
  </form>
</p-dialog>

<div>
  <p-table *ngIf="organizations" [value]="organizations" [rows]="rows" [(first)]="first" [paginator]="true" [lazy]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" (onLazyLoad)="loadLazyData($event)" [totalRecords]="totalRecords">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Имя</th>
        <th>Координаты (X, Y)</th>
        <th>Дата создания</th>
        <th>Годовой оборот</th>
        <th>Тип</th>
        <th>Адрес</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organization>
      <tr>
        <td>
          <p-button (click)="showEdit(organization)" icon="pi pi-pencil" styleClass="p-button-success"></p-button>
        </td>
        <td>{{ organization.id }}</td>
        <td>{{ organization.name }}</td>
        <td>{{ organization.coordinateX }}, {{ organization.coordinateY }}</td>
        <td>{{ organization.creationDate }}</td>
        <td>{{ organization.annualTurnover }}</td>
        <td>{{ organization.type }}</td>
        <td>{{ organization.officialAddress }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
